.fondo-index{
    background-image: url("../imagenes/fondo_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fondo-sobre-nosotros{
    background-image: url("../imagenes/fondo_sobre_nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fondo-areas{
    background-image: url("../imagenes/fondo_areas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fondo-practicas-laborales{
    background-image: url("../imagenes/fondo_practicas_laborales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fondo-trabaja-con-nosotros{
    background-image: url("../imagenes/fondo_trabaja_con_nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}