.about-us-main{
    margin: 0 0 50px 0;
    padding-left: 25px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}
.about-us__ol{
    margin: 0 0 50px 10px;
    padding-left: 25px;
    list-style-type: lower-roman;
    font-family: var(--fl);
    font-size: 15px;
    color:rgba(9, 193, 55, 0.842);
}
.about-us__ul{
    margin: 0 0 50px 0px;
    padding-left: 20px;
    list-style: disc;
    gap: 10px; 
    font-family: var(--fl);
    font-size: 15px;
    color:rgba(9, 193, 55, 0.842);
}